@page "/"

<h3>FakeAsana</h3>

@for (int i = 0; i < 10; i++)
{

    <Card OnClick="@(() => CardClick())" OnMouseDown="@(()=>CardMouseDown())" OnMouseMove="@(()=>CardMouseMove())" OnMouseUp="@(()=>CardMouseUp())" OnMouseOver="@(()=>CardMouseOver())" OnMouseOut="@(()=>CardMouseOut())" ></Card>
}


@code {
    private async Task CardClick()
    {
        System.Console.WriteLine("click");
    }

    private async Task CardMouseDown()
    {
        System.Console.WriteLine("mouse down");
    }

    private async Task CardMouseMove()
    {
        System.Console.WriteLine("mouse move");
    }

    private async Task CardMouseUp()
    {
        System.Console.WriteLine("mouse up");
    }

    private async Task CardMouseOver()
    {
        System.Console.WriteLine("mouse over");
    }

    private async Task CardMouseOut()
    {
        System.Console.WriteLine("mouse outja");
    }
}
