@page "/"

<h3>FakeAsana</h3>

@for (int i = 0; i < 10; i++)
{
    var card = new Card();
    card.MyRef = i;
    card.Name = i.ToString()+"さん";
    <Card @ref="card" OnClick="@(() => CardClick(card))" OnMouseDown="@(()=>CardMouseDown(card))" OnMouseMove="@(()=>CardMouseMove(card))" OnMouseUp="@(()=>CardMouseUp(card))" OnMouseOver="@(()=>CardMouseOver(card))" OnMouseOut="@(()=>CardMouseOut(card))" ></Card>
    Cards.Add(card);
}


@code {
    private List<Card> Cards = new List<Card>();

    private async Task CardClick(Card card)
    {
        System.Console.WriteLine($"click {card.MyRef}, name {card.Name}");
    }

    private async Task CardMouseDown(Card card)
    {
        var find = Cards.Find(childCard => childCard.MyRef == card.MyRef);
        find.IsDragging = true;
        System.Console.WriteLine($"mouse down {card.MyRef}");
    }

    private async Task CardMouseMove(Card card)
    {
        var find = Cards.Find(childCard => childCard.MyRef == card.MyRef);
        if (find.IsDragging)
        {
            System.Console.WriteLine($"dragging {card.MyRef}");
        }
        else
        {
            System.Console.WriteLine($"mouse move kasanatteruyo!!");
        }
    }

    private async Task CardMouseUp(Card card)
    {
        var find = Cards.Find(childCard => childCard.MyRef == card.MyRef);
        find.IsDragging = false;
        System.Console.WriteLine($"mouse up {card.MyRef}");
    }

    private async Task CardMouseOver(Card card)
    {
        var find = Cards.Find(childCard => childCard.MyRef == card.MyRef);

        // カーソルと他エレメントが重なった時。つまりエレメント同士はとっくに重なってた状態
        if (find.IsDragging)
        {
            System.Console.WriteLine($"mouse over(in) {card.MyRef}");
        }
        else
        {
            System.Console.WriteLine($"kasanattayo!! {card.MyRef}");
        }
    }

    private async Task CardMouseOut(Card card)
    {
        var find = Cards.Find(childCard => childCard.MyRef == card.MyRef);

        if (find.IsDragging)
        {
            System.Console.WriteLine($"mouse out {card.MyRef}");
        }
        else
        {
            System.Console.WriteLine($"kasanari kaijo!! {card.MyRef}");
        }
    }
}
